@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    overflow: hidden;
}

.box-container::-webkit-scrollbar{
    width: 0 !important;
}

.videogrid{
    grid-template-columns: repeat(auto-fit , minmax(0rem,30rem)) !important;
}
